:root[data-theme="dark"] {
    --bg-background: #0a0a0a;
    --bg-foreground: #0e0e0e;
    --bg-primary: #404040c5;
    --bg-secondary: #171717;

    --cr-primary: #fff;
    --cr-secondary: #535353;
    --cr-svg: #fff;

    --accent: hsl(0, 0%, 15%);

    --text-sm: 14px;
    --text-md: 16px;
    --text-lg: 18px;
    --text-xl: 20px;

    --border-sm: 3px;
    --border-md: 6px;
    --border-lg: 9px;
    --border-xl: 12px;
    --border-full: 999999px;
}

:root[data-theme="light"] {
    --bg-background: #e5e5e5;
    --bg-foreground: #f0f0f0;
    --bg-primary: #d4d3d3;
    --bg-secondary: #dddddd;

    --cr-primary: #404040;
    --cr-secondary: #535353;
    --cr-svg: #fff;

    --accent: #cfcfcf;

    --border-sm: 3px;
    --border-md: 6px;
    --border-lg: 9px;
    --border-xl: 12px;
    --border-full: 999999px;
}